@use "../../styles/colors" as c;
@use "../../styles/fonts" as f;

.taskContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding-top: 5px;
}

.clone {
  width: 30px;
  padding: 10px;
  &:hover {
    transform: scale(1.02);
  }
}

.cloneBase {
  padding: 0%;
  margin: 0%;
  box-shadow: none;
  background-color: rgba(128, 128, 128, 0);
  &:hover {
    background-color: rgba(128, 128, 128, 0);
  }
}

.check {
  margin: none;
  height: 30px;
  width: 30px;
  background-color: c.$powder-blue;
}
