$raisin-black: #161925;
$powder-blue: #8da9c4;
$mint-cream: #eef4ed;
$chamoisee: #a38560;

$dim-grey: #616161;
// $isabelline: #f6f0ed;
$oxford-blue: #030027;
$bittersweet: #ad4e42;
$asparagus: #3c6305;
$bg: #d4cfca;
$isabelline: #eee7e2;
